.imagen-producto {
  position: relative;
  left: 80px;
  padding-right: 50px;
  width: 80%;
  
}

.product-container {
  margin-top: 60px;
}


 

.payment-link {
color: rgb(0, 0, 0);
text-decoration: underline;

}

.description {
text-align: justify;
margin-top: 40px;
margin-right: 30px;

}

.btn-product {
  margin-top: 20px;
}
























