<%- include('partials/head')%>
<%- include('partials/menu')%>

  

    
    <div class="product-container" id="product-section">
      <div class="row">
        <div class="col-md-6">
          <img height="460px" width="575px" src="../../images/cleanit.jpg" alt="Imagen del producto" class="imagen-producto">
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <h1>CLEAN IT ZERO</h1>
            <h2>Banila Co</h2>
            <h3>$1500</h3>
            <H4>
            <a class="payment-link"href="https://www.mercadolibre.com.ar/gz/home/payments/methods" >VER MEDIOS DE PAGO</a>
            </H4>

            
            <input class="btn-product btn-default  btn-qty" value="1" />
            
                   
              <button class="btn-product btn-dark btn-brand btn-full-width">
                Agregar al carrito
              </button>
              

           
          </div>
          
          
          <div class="row">
            <div class="col-md-12">
              <p class="description">
                Crema limpiadora con extracto de papaya que elimina completamente el maquillaje, es un bálsamo sólido que se transforma en un aceite sedoso en tu piel!
                Su textura de sorbete ligero disuelve increíblemente el maquillaje pesado, sin eliminar tus propios aceites naturales. Con extracto de papaya para exfoliar la piel de forma natural y extracto de acerola, rico en vitamina C, que ayuda a dar luminosidad a tu piel.
              </p>
            </div>
          </div>
          
          
          
        </div>
      </div>
      
    </div>
  
  
  
  
  
  <div class="bottom-container" style="margin-bottom: 35px;">
    
    
    
    
  </div>
  
 

  