<%- include('partials/head')%>
<%- include('partials/menu')%>

<div class="container" >
  <div class="row carrito"  >
    <div class="col-sm-2" >
      <img   class="fotocarrito" src="../../images/camion-de-reparto.png" alt="modo de entrega">
    </div>
    
    <div class="col-sm-2" >
      <h2>Medios de Envio</h2>
    </div>
     
  </div>

 
  <div class="row carrito"  >
    <div class="col-sm-2" >
      <img   class="fotocarrito" src="../../images/bitcoin.png" alt="bitcoin">
    </div>
    

    <div class="col-sm-2"  >
      <img  class="fotocarrito" src="../../images/amazonas.png" alt="amazonas">
    </div>

    <div class="col-sm-2"  >
      <img  class="fotocarrito" src="../../images/visa.png" alt="Visa">
    </div>

    <div class="col-sm-2"  >
      <img  class="fotocarrito" src="../../images/tarjeta-mastercard.png" alt="Mastercard">
    </div>

  </div>

 
  <div class="row  botoncarrito">
    
     <input  class="col-lg-12 button"   type="button" value="Confirma pago"> 
 
    
  </div>
  
  <%- include('partials/footer')%>