<%- include('partials/head')%>
<%- include('partials/menuAdmin')%>

<div class="cuerpoProductAdd container">
  <div>
    <form  class="row justify-content-around" action="/products/updatedata/<%= productoId %> " method="POST" enctype='multipart/form-data' >
      <div class="col-5">
        <label for="nombre">Nombre</label>
        <input class="abajo" type="text" name="nombre">
        <label for="tipo">Tipo</label>
        <input class="abajo" type="text" name="tipo">
        <label for="marca">Marca</label>
        <input class="abajo" type="text" name="marca">
        <label for="tamaño">Tamaño/Talle</label>
        <input class="abajo" type="text" name="tamaño">
        <label for="color">Color</label>
        <input class="abajo" type="text" name="color">
        <label for="precio">Precio</label>
        <input class="abajo" type="text" name="precio">
        <label for="stock">Stock</label>
        <input class="abajo" type="text" name="stock">
        <label for="desc">Descripción Corta</label>
        <input class="abajo" type="txt" name="desc">
      </div>
      <div class="col-6 row cargaBotones justify-content-around">
        <div class="col-6">
          <label  for="descripcion">Descripción Larga</label>
          <input  type="text" name="descripcion">
        </div>
        <div class="col-6">
          <label  for="foto">Cargar Foto</label>
          <input  type="file" name="foto">
        </div>
        <input class="col-3 botoncito" type="submit" value="Agregar">
        <input class="col-3 botoncito" type="submit" value="Actualizar">
        <input class="col-3 botoncito" type="reset" value="Borrar">
        <input class="col-4 botoncito" type="button" value="Cancelar">
      </div>
    </form>
  </div>
</div>



  <%- include('partials/footer')%>
    

