<div class="miFooter">

    <div class="card miFooter">
      <div class="card-header">
        Nosotros
      </div>
      <div class="card-body">
        <h5 class="card-title">Encanto Coreano</h5>
        <p class="card-text">by mfcaldao, lisernia, xMilla</p>
      </div>
    </div>
  
  </div>
   
        
      <script src="../../js/jquery.js"></script>
      <script src="../../js/popper.js"></script>  
      <script src="../../js/bootstrap.js"></script>
      <script src="../../js/jquery.slides.min.js"></script>
          
  </body>
  </html>