<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../css/bootstrap-grid.css"> 
    <link rel="stylesheet" href="../../css/app.css">

    <title>EncantoCoreanoAdmin</title>
</head>
<body>
 
  
 <div class="container ppl">
  <nav class="row nnavbar justify-content-center">  
      
      <div class="col-12 col-md-4 col-lg-2 contenedor-img"> 
         <a href="/"> <img class="logo" src="../../images/logo_V7_sm.png" alt="Logo"></a>
      </div>
     
      <div class="col-12 col-md-6 col-lg-7 contenedor-menu">
        <div class="container">
          <div class="row justify-content-center menucito">
              
              <a class="col-3" href="/products/beauty">K~BEUTY</a>
              <a class="col-3" href="/products/food">K~FOOD</a>
              <a class="col-3" href="/products/music">K~MUSIC</a>
              <a class="col-3" href="/products/todosAdmin">TODOS</a>  
              <a class="col-3" href="/products/add">AGREGAR</a>  
              <a class="col-3" href="/products/todosAdmin">BORRAR</a>  
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-3 searchLogin">
        
        <div class="loginCarrito container">
          <div class="login row justify-content-center ">
            <div class="col-6"><h1 class="img-user">Admin</h1"></div>
            <a class="col-6" href=""><img class="img-user" src="../../images/carrito.png" alt="carrito"></a> 
          </div>
        </div>

        <div class="container search">
          <form class="row justify-content-center txtbuscar">
            <input class="col-lg-8" for="boton" class="" type="search" placeholder="Buscar" aria-label="Search">
            <button class="col-lg-3  button" type="submit" name="boton">Buscar</button>
          </form>

        </div>
      </div>

  </nav>
</div>
